.top-header {
   background-color: #ffffff;
   color: black;
   padding: 5px;
   position: fixed;
   width: 100%;
   top: 0;
}

.top-header .header__top,
.top-header .header__bottom {
   display: flex;
   justify-content: space-between;
}

.top-header .header__top {
   margin-bottom: 20px;
   font-size: 12px;
}

.top-header .header__bottom {
   padding: 0 15px;
}

.top-header .header__column {
   width: 33%;
}

.top-header .header__column:nth-child(2) {
   text-align: center;
}

.top-header .header__column:last-child {
   text-align: right;
}
